# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
myenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configs
.vscode/
.idea/

# Logs / databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

