# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / IDE configs
.vscode/
.idea/

# Logs / databases / misc
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db
